<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hostName</key>
	<string>api.kii.com</string>
	<key>appKey</key>
	<string>d787de623f15483fa887815017f010e6</string>
	<key>appID</key>
	<string>ex4liedteote</string>
</dict>
</plist>
